<h1> Welcome to our Library!</h1>

<h4> To create an accout please enter your name</h4>


<form action="/create-account" method="post">

  <div class="form-group">
    <label for="patron_name">Name</label>
    <input id="patron_name" name="patron_name" type="text" class="form-control">
  </div>

  <button type="submit">Create account!</button>

</form>
